@font-face {
    font-family: thin;
    src: url("fonts/thin.ttf");
}

@font-face {
    font-family: vcr;
    src: url("fonts/vcr.woff");
}

@font-face {
    font-family: yoster;
    src: url("fonts/yoster.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
}

a {
    text-decoration: none;
    color: rgb(226, 226, 226);
}

body {
    font-family: vcr;
    text-transform: uppercase !important;
    background-color: #0000ff !important;
    overflow: hidden;
    cursor: crosshair;
}


.continer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#audio-stats {
    display: none !important;
}

.works {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

.side {
    display: flex;
    flex-direction: column;
    padding: 3rem !important;
    height: 100vh;
    font-size: 20px;
    gap: 30px;
}

.works div {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

a:hover {
    text-decoration: underline;
}

#title:hover {
    font-weight: bold;
    font-style: italic;
}

#title {
    width: fit-content;
    line-height: 10px;
    height: 5.5rem;
}

.codeLink {
    font-family: thin;
    font-size: 18px;
}

.head {
    font-style: italic;
}

.control {
    position: fixed;
    top: 0;
    right: 0px;
    padding: 1rem 1rem 1rem 20rem;
    display: flex;
    justify-content: space-between;
    width: 896px;
}

.tools {
    position: fixed;
    bottom: 0;
    right: 0px;
    padding: 1rem 1rem 1rem 20rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 896px;
}

.modal-body div {
    margin-bottom: 5px;
}

.modal-dialog {
    max-width: 38% !important;
}

.title:hover {
    text-decoration: none;
}


pre {
    margin-block: auto;
}

#WhyAmISoSensitive {
    height: 14rem;
}